ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  display: inline;
}

li {
  float: right;
  border-right: 1px solid #bbb;
  border-left: 1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: blue;
}


body {
  background-color: lightsalmon;
}

#top {
  /* background-image: url('dev.jfif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */
  padding: 75px 75px;
}

.ap {
  text-align: center;
}

footer {
  text-align: center;
  padding: 14px 16px;
  background-color: black;
  color: white;
}

footer li {
  display: inline;
  border: 3px solid #bbb;
  color: white;
  text-align: center;
  padding: 7px 7px;
  text-decoration: none;
}